.faq_container {
    display: flex;
    align-items: flex-end;
    justify-content: center;
background-color: #A5FFEF;
padding: 20px;
border-radius: 44px;
border: 1px solid #0F143A;
}

.faq_content {
    display: flex;
    gap: 2em;
    align-items: center;
    justify-content: space-between;
}


.ctc_section {
    display: flex;
    flex-direction: column;
    gap: 1.2em
}
@media screen and (min-width: 768px) {
    .faq_container{
        padding: 40px;
    }
 
}