.faq_container {
  display: flex;
  align-items: flex-end;
  justify-content: center;
  background-color: #a5ffef;
  border-radius: 44px;
  border: 1px solid #0f143a;
}

.faq_content {
  display: flex;
  align-items: center;
}

.tagline {
  font-weight: 400;
}

.ctc_section {
  display: flex;
  flex-direction: column;
  gap: 20px;
}
