@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

@font-face {
  font-family: 'Recoleta';
  src: url('../public/font/Recoleta-Black.woff');
  font-weight: 900;
  font-display: swap;
}

@font-face {
  font-family: 'SpaceMonoBold';
  src: url('../public/font/Recoleta-Black.woff');
  font-weight: 900;
  font-display: swap;
}

@font-face {
  font-family: 'SpaceMonoRegular';
  src: url('../public/font/Recoleta-Regular.ttf');
  font-weight: 400;
  font-display: swap;
}

@font-face {
  font-family: 'Mazzard';
  src: url('../public/font/mazzard/MazzardH-Regular.ttf');
  font-weight: 400;
  font-display: swap;
}

@font-face {
  font-family: 'MazzardMedium';
  src: url('../public/font/mazzard/MazzardH-Medium.ttf');
  font-weight: 500;
  font-display: swap;
}

@font-face {
  font-family: 'headerFont';
  src:
    url("../public/font/Recoleta-Black.woff") format("woff"),
}

@font-face {
  font-family: 'taglineFont';
  src:
    url("../public/font/MazzardH-Regular.woff") format("woff"),
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  color: rgb(var(--foreground-rgb));
  background: #fff;
  color: #777;
}

.ant-input {
  background-color: transparent;
  border: 2px solid rgba(15, 20, 58, 0.8);
  font-size: 20px;
  padding: 10px 20px;
  @apply font-mazzard;
}

.web-form .ant-input {
  background-color: white;
  border: 2px solid #0E003D;
  border-radius: 8px;
  font-size: 20px;
  padding: 10px 20px;
  @apply font-mazzard shadow-[-4px_4px_0px_0px_#272727];
}

.ant-select-selector {
  @apply !h-auto !text-[20px] !px-[20px] !py-[10px]
}

.ant-select-arrow {
  @apply !top-[86%] !right-[5%]
}

.ant-select, .ant-select-selection-item, .ant-select-item-option, .ant-input-prefix {
  @apply !font-mazzardMedium text-[#0F143A];
}

.custom-select-arrow {
  background-image: url('../public/Images/landingPage/downArrowForm.svg');
  background-size: 16px 16px;
  background-repeat: no-repeat;
  background-position: right center;
  width: 16px;
  height: 16px;
}

.numberInput .ant-input {
  @apply font-mazzard h-auto;
}

.ant-form-item-label label {
  font-size: 22px !important;
  color: rgba(15, 20, 58, 0.8) !important;
  font-weight: 500;
  @apply font-mazzardMedium;
}

.web-form .ant-form-item-label label {
  font-size: 22px !important;
  color: #0E003D !important;
  font-weight: 500;
  @apply font-mazzardMedium;
}

@media screen and (max-width: 1279px) {
  .ant-form-item-label label {
    font-size: 20px !important;
  }
}

@media screen and (max-width: 1023px) {
  .ant-form-item-label label {
    font-size: 18px !important;
  }
}

@media screen and (max-width: 639px) {
  .ant-form-item-label label {
    font-size: 14px !important;
  }
}