@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

@font-face {
  font-family: 'headerFont';
  src:
  url("../public/font/Recoleta-Black.woff") format("woff"),
}

@font-face {
  font-family: 'taglineFont';
  src:
    url("../public/font2/MazzardH-Regular.woff") format("woff"),
}

*{
  margin:0; 
  padding: 0;
  box-sizing: border-box;
}

body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));
}
.ant-input{
  background-color: transparent;
  border: 1px solid rgba(15, 20, 58, 0.8);
  height: 40px;
}

.numberInput .ant-input{
  height: auto;
}

.ant-form-item-label label{
  font-size: 22px !important;
  color: rgba(15, 20, 58, 0.8) !important;
  font-weight: 500;
}

@media screen and (max-width: 1279px) {
  .ant-form-item-label label{
    font-size: 20px !important;
  }
}

@media screen and (max-width: 1023px) {
  .ant-form-item-label label{
    font-size: 18px !important;
  }
}

@media screen and (max-width: 639px) {
  .ant-form-item-label label{
    font-size: 14px !important;
  }
}