@tailwind base;
@tailwind components;
@tailwind utilities;
* {
  /* border: 2px solid red; */
}
:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

@font-face {
  font-family: "Recoleta";
  src: url("../public/font/Recoleta-Black.woff");
  font-weight: 900;
  font-display: swap;
}

@font-face {
  font-family: "SpaceMonoBold";
  src: url("../public/font/SpaceMono-Regular.ttf");
  font-weight: 900;
  font-display: swap;
}

@font-face {
  font-family: "spaceMono";
  src: url("../public/font/SpaceMono-Regular.ttf");
  font-weight: 400;
  font-display: swap;
}

@font-face {
  font-family: "Mazzard";
  src: url("../public/font/mazzard/MazzardH-Regular.ttf");
  font-weight: 400;
  font-display: swap;
}

@font-face {
  font-family: "MazzardMedium";
  src: url("../public/font/mazzard/MazzardH-Medium.ttf");
  font-weight: 500;
  font-display: swap;
}

@font-face {
  font-family: "MazzardSemiBold";
  src: url("../public/font/mazzard/MazzardH-SemiBold.ttf");
  font-weight: 600;
  font-display: swap;
}

@font-face {
  font-family: "SpaceMono";
  src: url("../public/font/spacemono/SpaceMono-Regular.ttf");
  font-weight: 400;
  font-display: swap;
}

@font-face {
  font-family: "SpaceMonoBold";
  src: url("../public/font/spacemono/SpaceMono-Bold.ttf");
  font-weight: 700;
  font-display: swap;
}

@font-face {
  font-family: "headerFont";
  src: url("../public/font/Recoleta-Black.woff") format("woff");
}

@font-face {
  font-family: "taglineFont";
  src: url("../public/font/MazzardH-Regular.woff") format("woff");
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  color: rgb(var(--foreground-rgb));
  background: #ffffff;
  color: #777777;
}
.sectionPadding {
  @apply px-[16px] md:px-[32px] lg:px-[64] xl:px-[96px] pt-[20px] md:pt-[26px] lg:pt-[36px] xl:pt-[64px];
}
.sectionBottomPadding {
  @apply pb-[20px] md:pb-[50px];
}

.ant-input {
  background-color: transparent;
  border: 2px solid rgba(15, 20, 58, 0.8);
  font-size: 20px;
  padding: 10px 20px;
  @apply font-mazzard;
}

.web-form .ant-input {
  background-color: white;
  border: 2px solid #0e003d;
  border-radius: 8px;
  font-size: 20px;
  padding: 10px 20px;
  margin-bottom: 32px;
  @apply font-spaceMono shadow-[-4px_4px_0px_0px_#272727];
}

.contactForm .ant-input {
  background-color: white;
  border: 2px solid rgba(15, 20, 58, 0.4);
  font-size: 20px;
  padding: 16px 20px;
  @apply font-mazzardMedium;
}

.sellerLead .ant-input {
  background-color: rgba(255, 255, 255, 0.4);
  border: 2px solid #00691f;
  font-size: 20px;
  padding: 16px 20px;
  @apply font-mazzardMedium;
}
.ant-input-affix-wrapper {
  background-color: transparent;
}
.contactForm .ant-input:focus,
.sellerLead .ant-input:focus,
.web-form .ant-input:focus {
  background-color: #ffffff !important;
}

.sellerLead .ant-form-item {
  margin-bottom: 32px;
}

.home-select .ant-select-selector {
  @apply !h-auto !text-[20px] !px-[20px] !py-[3px] sm:!py-[10px] !mb-2;
}
.cart-select .ant-select-selector {
  @apply !border-none;
}

.home-select .ant-select-arrow {
  @apply !top-[67%] sm:!top-[86%] !right-[5%];
}

.ant-select,
.ant-select-selection-item,
.ant-select-item-option,
.ant-input-prefix {
  @apply !font-mazzardMedium text-[#0F143A];
}

.custom-select-arrow {
  background-image: url("../public/Images/landingPage/downArrowForm.svg");
  background-size: 16px 16px;
  background-repeat: no-repeat;
  background-position: right center;
  width: 16px;
  height: 16px;
}

.custom-select-cart {
  background-image: url("../public/Images/Catlog/cart-arrow.svg");
  background-size: 16px 16px;
  background-repeat: no-repeat;
  background-position: right center;
  width: 16px;
  height: 16px;
}

.cart-dropdown{
  width: 90px !important;
}
.cart-dropdown .ant-select-item-option-content{
  justify-content: center;
  display: flex
}

.numberInput .ant-input {
  @apply font-mazzard h-auto;
}

.ant-form-item-label label {
  font-size: 24px !important;
  color: rgba(15, 20, 58, 0.8) !important;
  font-weight: 500;
  @apply font-mazzardMedium;
}

.web-form .ant-form-item-label label {
  font-size: 24px !important;
  color: #0e003d !important;
  font-weight: 500;
  @apply font-spaceMonoBold;
}
.underlineCtm {
  color: #0f143a !important;
  background: url("../public/Images/heroSectionSvgs/client_underline.webp");
  background-repeat: no-repeat;
  background-position-y: bottom;
  background-size: contain;
}

@media screen and (max-width: 1600px) {
  .ant-form-item-label label,
  .web-form .ant-form-item-label label,
  .web-form .ant-input,
  .ant-input {
    font-size: 24px !important;
  }
  .sellerLead .ant-input,
  .contactForm .ant-input {
    font-size: 20px !important;
  }
  .ant-input,
  .web-form .ant-input {
    padding: 10px 20px;
  }
}

@media screen and (max-width: 1279px) {
  .ant-form-item-label label,
  .web-form .ant-form-item-label label,
  .web-form .ant-input,
  .ant-input {
    font-size: 21px !important;
  }
  .sellerLead .ant-input,
  .contactForm .ant-input {
    font-size: 20px !important;
  }
  .ant-input,
  .web-form .ant-input {
    padding: 10px 20px;
  }
}

@media screen and (max-width: 1023px) {
  .ant-form-item-label label,
  .web-form .ant-form-item-label label,
  .web-form .ant-input,
  .ant-input {
    font-size: 22px !important;
  }
  .sellerLead .ant-input,
  .contactForm .ant-input {
    font-size: 20px !important;
  }
  .ant-input,
  .web-form .ant-input {
    padding: 10px 20px;
  }
}

@media screen and (max-width: 639px) {
  .ant-form-item-label label,
  .web-form .ant-form-item-label label,
  .web-form .ant-input,
  .ant-input {
    font-size: 14px !important;
  }
  .sellerLead .ant-input,
  .contactForm .ant-input {
    font-size: 16px !important;
    padding: 9px 18px;
  }
  .ant-input,
  .web-form .ant-input {
    padding: 7px 20px;
  }

  .ant-select,
  .ant-select-selection-item {
    font-size: 14px !important;
  }
}
.overflow-style::-webkit-scrollbar-track {
  border: none;
  margin: 0px 0px;
  background-color: transparent;
}

.overflow-style::-webkit-scrollbar {
  width: 4px;
  margin-left: -10px;
  padding-top: 10px;
  padding-bottom: 10px;
}

.overflow-style::-webkit-scrollbar-thumb {
  border-radius: 20px;
  background-color: #0F143A;
  border: 1px solid rgba(15, 20, 58, 0.08);
}