.modalSwiper > .swiper-wrapper > .swiper-button-prev::after {
  color: #0f143a66;
  font-size: 20px !important;
}
.modalSwiper > .swiper-wrapper > .swiper-button-next::after {
  font-size: 20px !important;
  color: #0f143a66;
  right: -8px;
}
.modalSwiper > .swiper-wrapper > .swiper-button-prev {
  left: -8px;
}
.modalSwiper > .swiper-wrapper > .swiper-button-next {
  right: -8px;
}
.modalSwiper > .swiper-wrapper > .swiper-slide-prev {
  opacity: 0.5;
  border: 1px solid #ccc;
}
.modalSwiper > .swiper-wrapper > .swiper-slide-active {
  border: 1px solid #000;
}
.modalSwiper > .swiper-wrapper > .swiper-slide-next {
  opacity: 0.5;
  border: 1px solid #ccc;
}
.modalSwiper > .swiper-wrapper > .swiper-slide {
  border-radius: 15px !important;
  overflow: hidden;
}
